@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display+SC&family=Poppins&family=Titillium+Web:wght@200&family=Ubuntu:wght@300&display=swap');
/* @import 'aos/dist/aos.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


section {
    min-height: 100vh;
    width: 100%;
    @apply my-40
}

.anton {
    font-family: 'Anton', sans-serif;
}

.playfair {
    font-family: 'Playfair Display SC', serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h6 {
    @apply text-base;
}
h5 {
    @apply text-lg;
}
h4 {
    @apply text-xl;
}
h3 {
    @apply text-2xl;
}
h2 {
    @apply text-3xl;
}
h1 {
    @apply text-4xl;
}

.text-grid {
    display : grid;
    grid-template-columns: 3rem calc(100% - 7rem) 4rem;
}